<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blog/create" method="post" id="blogForm">
        <input type="text" name="title" id="title">
        <input type="text" name="content" id="content">
        <input type="text" name="image" id="image">
        <input type="text" name="category" id="category">
        <input type="submit">
    </form>
</body>
</html>