<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/index.css">
</head>
<body>
    <div class="mean">
        <a href="/">home</a>
        <a href="/form">form</a>
        <a href="/login">login</a>
    </div>
    <form id="form" action="/login" method="post">
        <h1>form</h1>
        <input type="text" id="name" placeholder="Name"  name="name"required>
        <input type="password" id="password" placeholder="password" name="password" required>
        <input type="submit">
    </form>
</body>
</html>